:root {
    --blue: #08f;
    --red: #f33;
    --text: #fff;
    --background: #111;
    --header: #444;
    --result: #0f0;
    --error: #f80;
}

body {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: grid;
    grid-template-rows: 10% 90%;
}

#header {
    --color: var(--header);
    margin: 0 !important;
}

#alliances {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

input {
    min-width: 0;
}

.small-number {
    max-width: 4em;
}

.result {
    color: var(--result);
    font-weight: bold;
}

.robots {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.robot {
    display: grid;
    grid-template-rows: repeat(2, auto);
    border-radius: 5%;
}

@keyframes error {
    from {background-color: initial;}
    to {background-color: var(--error);}
}

.robot.error {
    animation-name: error;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.data-input {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.center {
    margin: auto;
}

#blue-alliance {
    --color: var(--blue);
}

#red-alliance {
    --color: var(--red);
}

#blue-alliance, #red-alliance, #header {
    background-color: var(--color);
    color: var(--text);
    margin: 2.5%;
    border-radius: 10px;
    padding: 1%;
    transition: 0.25s ease;
}

#blue-alliance:hover, #red-alliance:hover, #header:hover {
    filter: brightness(1.1);
}

.template {
    display: none;
}

.badload {
    color: #f00;
}